@model ButtonGrid.Models.ButtonModel

@{
    string[] imagenames = { "BlueB.png", "GreenB.png", "RedB.png", "GreyB.png" };
  
}

<button class="game-button" name="buttonNumber" value="@Model.Id" type="submit" asp-controller="button" asp-action="HandleButtonClick">
    <img class="game-button-image" src="/img/@imagenames[Model.ButtonState]" />
    <div class="button-label">
        @Model.Id, @Model.ButtonState
    </div>
</button>
